In [11]:
# magic  commands
%matplotlib inline

# dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics

In [12]:
# Import your data into a Pandas DataFrame
    # Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [13]:
# read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

# Get the columns and the rows that are not null.
print(city_data_df.isnull().sum())

# Get the data types of each column.
print(city_data_df.dtypes)

city            0
driver_count    0
type            0
dtype: int64
city            object
driver_count     int64
type            object
dtype: object

In [15]:
# Get the unique values of the type of city.
print(city_data_df["type"].unique())

# Get the number of data points from the types of cities.
print(sum(city_data_df["type"]=="Urban"))
print(sum(city_data_df["type"]=="Suburban"))
print(sum(city_data_df["type"]=="Rural"))

['Urban' 'Suburban' 'Rural']
66
36
18

In [18]:
# read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(10)

# Get the columns and the rows that are not null.
print(ride_data_df.isnull().sum())

# Get the data types of each column.
print(ride_data_df.dtypes)

city       0
date       0
fare       0
ride_id    0
dtype: int64
city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [19]:
# Merge your DataFrames
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [ ]:
# Create bubblechart that shows

# average fare vs total # of rides
# bubble size based on total # of drivers for each city type

In [ ]:
# Determine mean, median, and mode

# for total # of rides for each city type

# for avrage fares for each city type

# total # of drivers for each city type

In [ ]:
# Create box-and-whisker plots to visualize each of the following

# #numb of rides for each city type

# fares for each city type

# numb of drivers for each city type

In [ ]:
# Create pie chart to visualize each of the following

# % of total fares

# % of total rides

# % of total drivers